.home {
  height: 70%;
  background-color: #2f2f3a;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  flex: 1;
  overflow-y: scroll;
  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .plus_minus {
      height: 40px;
      width: auto;
      cursor: pointer;
    }
    .default_logo {
      height: 100px;
      width: auto;
    }
    h2 {
      color: #a3acbe;
    }
  }

  .channel_group {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #43434d;
    cursor: pointer;
  }

  p {
    color: #a3acbe;
    font-size: 24px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  h1 {
    color: #a3acbe;
  }
}
::-webkit-scrollbar {
  display: none;
}
